.getSection {
    width: 328px;
    padding: 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sectionTitle {
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    color: var(black);
}

.usersList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
}

.userAvatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.userInfo {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(black);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 288px;
    display: block;
    cursor: pointer;
}

.showMoreBtn {
    border-radius: 80px;
    width: 120px;
    height: 34px;
    background-color: var(--primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(black);

    transition: background-color 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.showMoreBtn:hover,
.showMoreBtn:focus {
    background-color: var(--hover);
}

.loader {
    animation: spin 1s linear infinite;
    transform-origin: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (min-width: 768px) {
    .getSection {
        width: 704px;
    }

    .usersList {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .userItem {
        box-sizing: border-box;
        width: 344px;
    }

    .truncate {
        max-width: 304px;
    }
}

@media screen and (min-width: 1024px) {
    .getSection {
        width: 904px;
    }

    .usersList {
        gap: 29px;
    }

    .userItem {
        width: 282px;
    }

    .truncate {
        max-width: 242px;
    }
}