.header {
    display: flex;
    justify-content: space-between;
    padding: 13px 16px;
    width: 360px;
}

.navigate {
    display: flex;
    gap: 10px;
}

.navLink {
    border-radius: 80px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 34px;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.87);
    transition: background-color 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.navLink:hover,
.navLink:focus {
    background-color: var(--hover);
}

@media screen and (min-width: 768px) {
    .header {
        width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        width: 1024px;
    }
}